*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(135deg, #f0fdf4, #ecfdf5, #f0fdfa);

}

.titulo{
  font-size: 34px;
  color: #064e3b;
}

.contenedor__titulo {
  display: flex;
  width: auto;
  gap: 20px;
  margin-left: 85px;
  margin-top: 50px;
 }
.contenedor__logo{
  background: linear-gradient(to bottom right, #10b981, #22c55e);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
}
 .logo {
  width: 70px;
  height: 70px;
 }