*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --fondo-pagina-main: #70f3c333;
}
body{
  display: grid;
  grid-template-areas:
    "header main"
    "sidebar main"
    "footer footer";
  grid-template-columns: 332px 1fr; 
  grid-template-rows: auto 1fr auto;
}

header{
  position: fixed;
  top: 0px;
  left: 0%;
  height: 130px;
  width: 332px;
  background-color:#065f46; 
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
.titulo{
  font-size: 34px;
}

.contenedor__titulo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
 }
 
 .logo {
  padding:10px;
  width: 70px;
  height: 70px;
 }
 .titulo{
   color: white; 
 }
 /*----------------------------*/
.main {
  grid-area: main;
  padding: 20px;
  background: linear-gradient(135deg, #f0fdf4, #ecfdf5, #f0fdfa);

}

.main__cajatexto{
   /*background-color: aqua; */
  width: 45%;
  min-height: auto;
  margin-left: 50px;


}

.main__titulo{
  font-weight: bold;
  font-size: 37px;
  justify-items: center;
  color:#047857;
}  

.main__texto{
  margin-top: 20px;
  font-size: 30px;
  color: #059669;
}

.main__contenedores{
  /*background-color: #BBF451;*/
  height: 773px;
  margin-left: 50px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.main__boxs{
  background-color: aliceblue;
  min-width: auto;
  height: 328px;
  box-shadow:
  0px -4px 6px rgba(16, 185, 129, 0.3),   /* arriba */
  4px 0px 6px rgba(16, 185, 129, 0.3),    /* derecha */
  -4px 0px 6px rgba(16, 185, 129, 0.3),   /* izquierda */
  0px 10px 0px rgba(16, 185, 129, 1);     /* abajo sólida */


  border-radius: 10px;
}

.main__boxs:hover{
  
}
.main__contimagen--secundario{
  width: 173px;
  height: 134px;
  background: linear-gradient(to bottom, #16a34a, #BBF451);
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__contimagen{
  width: 173px;
  height: 134px;
  background-color: #16a34a;
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__contimagen img{
  width: 100px;
  height: 100px;
}

.caja__texto{
  width: 727px;
  height: 113px;
  /*background-color: blueviolet;*/
  margin-left: 40px;
  margin-top: 20px;
}

.caja__texto h3{
  font-size: 30px;
  color: #006d07;
}
.caja__texto p{
  font-size: 25px;
  margin-top: 16px;
  color: #16a34a;
}

.main__contetarjetas{
  display: flex;
  justify-content:center;
  align-items: center;
  width: auto;
  height: 223px;
  /*background-color: chocolate;*/
  margin-left: 100px;
  gap: 40px;
}

.main__tarjetas:hover{
  transform: scale(1.05); 
}

.main__tarjetas{
  width: 400px;
  height: 223px;
  background-color: white;
  border-radius: 10px;
  box-shadow:
  0px -4px 6px rgba(0, 109, 7, 0.3),   /* arriba */
  4px 0px 6px rgba(0, 109, 7, 0.3),    /* derecha */
  -4px 0px 6px rgba(0, 109, 7, 0.3),   /* izquierda */
  0px 4px 6px rgba(0, 109, 7, 0.3);     /* abajo sólida */
  display: flex;              /* activa flexbox */
  flex-direction: column;     /* apila título y número */
  justify-content: center;    /* centra verticalmente */
  align-items: center;        /* centra horizontalmente */
  text-align: center;
  gap: 20px;
}
.main__tarjetas h4{
  font-weight: bold;
  font-size: 33px;
  margin-top: 13px;
  color: #006d07;
}

.main__numero{
  width: 143px;
  height: 112px;
  background-color:#10b981;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__tarjetas h3{
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  color: white;
}



/**********************************************************/
.sidebar__barra {
  position: fixed;
  top: 130px;
  left: 0%;
  width: 332px;      /* mismo ancho que definiste en el grid */
  height: 100vh; 
  background-color: #065f46;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
}

.sidebar__barra a:first-child {
  background-color:#a3e635;
  color: #006d07;
}

.sidebar__barra a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.sidebar__barra a:hover{
  background-color: #40eb5cb2;
}
.sidebar__barra nav {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  align-self: center;
  justify-content: center;
  margin-top: 39px;
}
/*************************************/
.footer {
  grid-area: footer;
  background-color: #40eb5cb2;
  text-align: center;
  padding: 10px;
}
