*{
  margin: 0;/*elimina margenes por defecto*/
  padding: 0;/*elimina relleno interno por defecto*/
  box-sizing: border-box;/*Hace que el ancho y alto incluyan el padding y el borde*/
}

 body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../asset/tractor.jpg);
  height: 100vh;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
  .contenedor__titulo{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }

.titulo{
  color: white;
}

.logo{
  width: 90px;
  height: 90px;
}

.main__contenedor{

  width: 1000px;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  margin: 0 auto;
}

.main__cajas{
  background-color: #40eb5cb2;
  width: 435px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 8px 10px rgba(0,0,0,0.6);
}
.main__cajas a{
  text-decoration: none;
}

.titulo__cajas{
  color: white;
  margin-top: 65px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
}


.main__imagenes{
  width: 181px;
  height: 181px;
  margin-top: 50px;
  margin-left: 110px;
}