*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --fondo-pagina-main:#EAE4D5;
}
body{
  display: grid;
  grid-template-areas:
    "header main"
    "sidebar main"
    "footer footer";
  grid-template-columns: 332px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.main {
  grid-area: main;
  padding: 20px;
  background-color: var(--fondo-pagina-main);
}
.main__cajaimagen{
  background-color: #535a1c4c;
  width: 30%;/*ancho del contenedor de la imagen*/
  height: 55%;/*alto del contenedor de la imagen*/
  display:flex ;
  justify-content: center;/*centrar la imagen*/
  align-items: center;/*centrar la imagen*/
  border-radius: 10px;/*borde redondo*/
  margin-top: 95px;
}

.main__imagen{
  height: 102%;
  width: 102%;
  padding: 30px;
  
}

.main__cajatexto{
  /* background-color: aqua;    */
  width: 50%;
  height: 32%;
  
  margin-left: 36%;
  margin-top: -323px;
}

.main__titulo{
  font-weight: bold;
  font-size: 30px;
  justify-items: center;
}  

.main__texto{
  margin-top: 20px;
  font-size: 18px;
}




/**********************************************************/
.sidebar__barra {
  grid-area: sidebar;
  background-color: #006d07;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

.sidebar__barra a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  
  
}
.sidebar__barra a:hover{
  background-color: #40eb5cb2;
}
.sidebar__barra nav {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  align-self: center;
  margin-top: 11px;
}
.header {
  grid-area: header;
  background-color:var(--header-barra-navegacion);
  padding: 20px;
}
/*Título y logo */
.contenedor__titulo {
 display: flex;
 align-items: center;
 gap: 15px;
 width: 99%;
 margin-right: 10px;
}

.logo {
 padding:10px;
 width: 70px;
 height: 70px;
}
.titulo{
  color: white; 
}

.footer {
  grid-area: footer;
  background-color: #535a1c9b;
  text-align: center;
  padding: 10px;
}