*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

 /*Título y logo */
.contenedor__titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 150%;
  margin-left: 83px;
}

.logo {
  padding:10px;
  width: 70px;
  height: 70px;
}

.header {
  grid-area: header;
  padding: 20px;
}

.sidebar__barra {
  grid-area: sidebar;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.main {
  grid-area: main;
  padding: 20px;
  background-color: #EAE4D5;
}

.main__contenedorcaja{
  width: 90%;
  height: 90%;
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  margin-left: 80px;
}

.main__cajaregistro{
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 20%;
  height: 37%;
  border-radius: 10px;
}

.main__textocard{
  font-size: 25px;
  text-align: center;
  padding: 10px;
  margin-top: 65px;
}

.main__imagen1{
  width: 100px;
  height: 100px;
  margin-left: 100px;
}


/****************************************************************************************************************/
.sidebar__barra a {
  text-decoration: none;
  color: #535A1C;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.sidebar__barra a:hover{
  background-color: #535a1c9b;
}
.sidebar__barra nav {
  display: flex;
  flex-direction: column; 
  gap: 15px;              
}

.footer {
  grid-area: footer;
  background-color: #535a1c9b;
  text-align: center;
  padding: 10px;
}