@import url(utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--fondo-main);
  padding-bottom: 50px; /* agrega aire al final de la p치gina */
}

.contenedor__texto {
  box-shadow:   0px -4px 6px rgba(16, 185, 129, 0.3),   /* arriba */
  4px 0px 6px rgba(16, 185, 129, 0.3),    /* derecha */
  -4px 0px 6px rgba(16, 185, 129, 0.3),   /* izquierda */
  0px 10px 0px rgba(16, 185, 129, 1);     /* abajo s칩lida */
  background-color: white;
  width: 800px;
  height: 668px;
  margin: 0 auto; /* centra horizontalmente */
  margin-top: 80px;
  border-radius: 10px;
}


.contendor__subtitulo{
  display: flex;
  margin-top: 55px;
  gap: 20px;
  margin-left: 103px;
}
.caja__logo{
  background:var( --background--caja-logo);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  border-radius: 10px;
  margin-left: 28px;
  gap: 10px;

}
.subtitulo{
  font-size: 50px;
  color: var(--color-titulo);
  font-weight: bold;
  margin-top: 27px;
}

  .logo {
  width: 70px;
  height: 70px;
}
/*****/
.info{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 89px;
  color: #059669;
}
.contendor__info{
  background-color: #ecfdf5;
  border: solid #d1fae5;
  border-radius: 10px;
  width: 85%;
  height: 44%;
  margin-left: 61px;
  margin-top: 83px;
  padding: 25px;
}

.contendor__info p{
  color: #065f46;
  font-size: 29px;

}

.contendor__logo{
  background-color: #d1fae5;
  width: 800px;
  height: 179px;
}

.logo__texto{
  width: 70px;
  height: 70px;
  margin-left: 363px;
  margin-top: 47px;
}
.contendor__logo h4{
  font-size: 24px;
  text-align: center;
  color: #047857;
}
.contenedor__texto h3{
  font-size: 28px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 20px;
  color: #064e3b;
}
.segundo__subtitulo{
  font-size: 23px;
  padding: 10px;
  color: #047857 ;
  margin-left: 25px;
  margin-top: 18px;
}
.boton__leer{
  background-color: #d1fae5;
  width: 97%;
  height: 59px;
  font-size: 20px;
  color: #047857;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-top: 25px;
  margin-left: 13px;
  gap: 10px;

}
.boton__leer img{
  width: 23px;
  height: 23px;
}
.contenedor__texto.expandible {
  height: 480px;          /* altura inicial m치s peque침a */
  overflow: hidden;       /* oculta el texto extra */
  transition: height 0.5s ease;
}

