@import url(utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--fondo-main);
}

.titulo{
  font-size: 45px;
  color: var(--color-titulo-registro);
  margin-top: 4px;
}

.contenedor__titulo {
  display: flex;
  width: auto;
  gap: 20px;
  margin-left: 85px;
  margin-top: 50px;
}
.contenedor__logo{
  background:var(--background--caja-logo);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
}
.logo {
  width: 70px;
  height: 70px;
}
header{
  width: 96%;          /* ancho más pequeño que el 100% */
  margin: 0 auto; 
  margin-top: 53px;
  display: flex;
  height: 141px;         /* altura fija del header */
  /* padding: 20px; */
  box-shadow: 0px 6px 10px rgba(16, 185, 129, 0.3);
}
.main_contenedor{
  width: 80%;
  height: 175vh;
  box-shadow: 0px 0px 10px 2px rgba(16, 185, 129, 0.404);
  padding: 50px;
  margin: 0 auto;
  margin-top: 98px;
  border-radius: 10px;
}
.contendor__informacion{
  width: 93%;
  height: 408px;
  background-color: #10b98134;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 40px; /* espacio interno arriba */
  margin-bottom: 60px;
}
.caja_titulo{
  display: flex;
  width: auto;
  gap: 20px;
  margin-left: 85px;
}

.contenedor__registros{
  width: 90%;
  height: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.contendor__fila__cultivo{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 40px;
}

.dato__cultivo {
  width: 45%;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(16, 185, 129, 0.3);
  font-size: 25px;
  color: #333;
  padding: 30px;
}
.fertilizantes {
  padding: 60px; /* espacio interno a los lados */
}
