@import url(utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/********************CONTNEDOR DEL LOGO CON EL TITULO*************************/
header{
    width: 96%;
    margin: 0 auto;
    margin-top: 53px;
    display: flex;
    height: 141px;
    box-shadow: 0px 6px 10px rgba(16, 185, 129, 0.3);
}
main{
  height: 220vh;
  padding-top: 50px;
}
.boton {
  display: inline-block;       /* permite que <a> se comporte como botón */
  height: 75px;
  width: 180px;
  margin-top: -18px;
  margin-left: 33px;
  border-radius: 10px;
  font-size: 18px;
  background-color: #059669;
  border: none;
  outline: none;
  color: white;
  text-align: center;          /* centra el texto */
  line-height: 75px;           /* centra verticalmente el texto */
  text-decoration: none;       /* quita subrayado del enlace */
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
}

.boton:hover {
  background-color: #047857;
  cursor: pointer;
  transform: scale(1.05);      /* efecto de agrandarse al pasar el mouse */
}

body{
  background: var(--fondo-main);
}

.titulo{
  font-size: 34px;
  color: var(--color-titulo-registro);
}

.contenedor__titulo {
  display: flex;
  width: auto;
  gap: 20px;
  margin-left: 85px;
  margin-top: 50px;
}
.contenedor__logo{
  background:var(--background--caja-logo);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
}
.logo {
  width: 70px;
  height: 70px;
}
.contenedor__cultivo__tarea{
  width: 70%;
  height: 230px;
  margin: 71px auto;
  display: flex;
  background: linear-gradient(to right, #059669, #16a34a);
  border-radius: 10px;
}
.contenedor__tareas{
    width: 90%;
    height: 230px;
    margin: 71px auto;
    display: flex;
    justify-content: space-between;
}
.logo__tarea{
  margin-top: 60px;
  margin-left: 30px;
  background-color: #FFFFFF; /* blanco */
  width: 100px;              /* ancho fijo */
  height: 100px;             /* alto fijo */
  display: flex;             /* centra contenido */
  justify-content: center;
  align-items: center;
  border-radius: 10px;       /* opcional, esquinas redondeadas */

}
.titulo__cultivo{
  color: white;
  font-size: 40px;
  margin-top: 60px;
  margin-left: 20px;
}
.boxs{
  background-color: rgba(255, 255, 255, 0.473);
  border-radius: 10px;
  margin-top: 55px;
  margin-left: 92px;
  width: 14%;
  height: 115px;
}
#etiquetaPendientes,
#etiquetaProceso,
#etiquetaCompletada{
  font-size: 25px;
  margin-top: 10px;
  margin-left: 40px;
}
#contadorPendientes,
#contadorProceso,
#contadorCompletadas{
  font-size: 40px;
  color: #064e3b;
  margin-top: 10px;
  margin-left: 84px;
}
.cajas__tareas{
    border: solid #b9fcd9;
    width: 24%;
    border-radius: 10px;
    display: flex;

}
.logo__total{
  width: 150px;
  height: 150px;
  margin-top: 37px;
  margin-left: 37px;
}
.cajas__tareas h2{
    margin-top: 71px;
    margin-left: 41px;
    color: #064e3b;
    font-size: 88px;
}
.cajas__tareas p{
    margin-top: 123px;
    margin-left: 22px;
    color: #064e3b;
    font-size: 24px;
}
.caja__segunda{
    border: solid #ffe1ad;
}
.caja__tercera{
    border:solid  #b9fcd9;
}
.caja__cuarta{
    border: solid  #dbeafe;
}
.buscardor__tareas{
    width: 50%;
    height: 121px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.contenedor__buscar{
    position: relative;
    /* border: solid #b9fcd9; */
    border-radius: 10px;
    width: 38%;
    height: 55px;
    margin-top: 30px;
    margin-left: 50px;
}
.contenedor__buscar input{
  width: 100%;
  height: 100%;
  padding-left: 68px; /* espacio para el icono */
  border-radius: 10px;
  border: 2px solid #b9fcd9;
  outline: none;
  font-size: 16px;
}
.icono__buscador{
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.select__tareas{
    width: 27%;
    height: 55px;
    margin-top: 30px;
    margin-right: 50px;
    border-radius: 10px;
    font-size: 18px;
    padding: 17px ;
    border: none;
    background-color: #b9fcd9;
    outline: none;
}

.contenedores__tareas{
  width: 70%;
  height: 406px;
  background-color: white;
  border: solid #b9fcd9;
  margin: 20px auto;
  border-radius: 10px;
  margin-top: 62px;
  padding: 20px;
}
.contenedores__tareas h2 {
  color: #064e3b;
  padding: 20px;
  margin-left: 17px;
}

.texto__tarea{
  color: #059669;
  margin-left: 38px;
  padding-bottom: 10px;
  margin-top: 14px;
  font-size: 18px;
}
.fecha{
  color: #059669;
  margin-left: 38px;
  padding-bottom: 10px;
  margin-top: 14px;
}
.estado_pendiente,
.estado_proceso{
  background-color: #ffe1ad87;
  width: 95px;
  height: 26px;
  text-align: center;
  border-radius: 5px;
  margin-left: 306px;
  margin-top: -45px;
  border: solid #fab33a 2px;
  color: #fab33a;
}
.estado_proceso{
  background-color: #dbeafe;
  border: solid #93c5fd 2px;
  color: #1d4ed8;
}

.contendor__asignaciones{
  width: 95%;
  height: 200px;
  background-color: #b9fcd96d;
  margin: 20px auto;
  border-radius: 10px;

}
.logo__texto{
  display: flex;
  gap: 20px;
}
.texto__asignaciones{
  margin-top: 20px;
  color: #059669;
  font-size: 18px;
}
.iconos__asignaciones{
  width: 35px;
  height: 35px;
  margin-left: 20px;
  margin-top: 10px;
}

.contenedor__usuario{
  display: flex;
  gap: 20px;

}
.tarjeta__usuario{
  width: 45%;
  height: 112px;
  background-color: white;
  margin: 20px auto;
  border-radius: 10px;
  
}
.cirulo__perfil{
  width: 40px;
  height: 40px;
  border-radius: 22px;
  background-color: #059668ce;
  margin-top: 14px;
  margin-left: 14px;
  position: relative;
}
.incial__perfil{
    color: white;
    position: absolute;
    left: 31%;
    bottom: 23%;
    font-size: 18px;
  }
  div{
    position: relative;
  }
  h4{
    position: absolute;
    color: #047857;
    left: 13%;
    top: 21px;
  }
  .texto__jornada{
    color: #059669;
    margin-left: 72px;
    margin-top: -10px;
  }
  .estado{
  background-color: #ffe1ad87;
  width: 95px;
  height: 26px;
  text-align: center;
  border-radius: 5px;
  margin-left: 18px;
  margin-top: 9px;
  border: solid #fab33a 2px;
  color: #fab33a;
  }
  .proceso{
    background-color: #dbeafe;
    color: #1d4ed8;
    border: none;
    border: solid 2px #1d4ed8;
  }
  .completada{
    background-color: #dcfce7;
    color: #15803d;
    border: solid 2px ;
  }