@import url(utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--fondo-main);
}

.titulo{
  font-size: 34px;
  color: var(--color-titulo-registro);
}

.contenedor__titulo {
  display: flex;
  width: auto;
  gap: 20px;
  margin-left: 85px;
  margin-top: 50px;
}
.contenedor__logo{
  background:var(--background--caja-logo);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
}
.logo {
  width: 70px;
  height: 70px;
}
header{
  width: 80%;          /* ancho más pequeño que el 100% */
  margin: 0 auto; 
  margin-top: 53px;
  display: flex;
  height: 141px;         /* altura fija del header */
  /* padding: 20px; */
  box-shadow: 0px 6px 10px rgba(16, 185, 129, 0.3);
}
.main_contenedor{
  width: 80%;
  height: 100vh;
  border: solid #10b98163;
  padding: 50px;
  margin: 0 auto;
  margin-top: 98px;
}
.contendor__informacion{
  width: 93%;
  height: 520px;
  background-color: #10b98163;
  margin: 0 auto;
}