@import url(utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/********************CONTNEDOR DEL LOGO CON EL TITULO*************************/
header{
    width: 96%;
    margin: 0 auto;
    margin-top: 53px;
    display: flex;
    height: 141px;
    box-shadow: 0px 6px 10px rgba(16, 185, 129, 0.3);
}
.boton{
    height: 75px;
    width: 180px;
    margin-top: -18px;
    margin-left: 33px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #059669;
    border: none;
    outline: none;
    color: white;
}
.boton:hover{
    background-color: #047857;
    cursor: pointer;

}
body{
  background: var(--fondo-main);
}

.titulo{
  font-size: 34px;
  color: var(--color-titulo-registro);
}

.contenedor__titulo {
  display: flex;
  width: auto;
  gap: 20px;
  margin-left: 85px;
  margin-top: 50px;
}
.contenedor__logo{
  background:var(--background--caja-logo);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
}
.logo {
  width: 70px;
  height: 70px;
}
.contenedor__tareas{
    width: 80%;
    height: 230px;
    margin: 71px auto;
    display: flex;
    justify-content: space-between;
}
.cajas__tareas{
    border: solid #b9fcd9;
    width: 30%;
    border-radius: 10px;
    display: flex;

}
.logo__total{
  width: 150px;
  height: 150px;
  margin-top: 37px;
  margin-left: 37px;
}
.cajas__tareas h2{
    margin-top: 71px;
    margin-left: 41px;
    color: #064e3b;
    font-size: 88px;
}
.cajas__tareas p{
    margin-top: 123px;
    margin-left: 22px;
    color: #064e3b;
    font-size: 24px;
}
.caja__segunda{
    border: solid #ffe1ad;
}
.caja__tercera{
    border:solid  #b9fcd9;
}
.buscardor__tareas{
    border: solid #b9fcd9;
    width: 50%;
    height: 121px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.contenedor__buscar{
    border: solid #b9fcd9;
    border-radius: 10px;
    width: 38%;
    height: 55px;
    margin-top: 30px;
    margin-left: 50px;
}
.select__tareas{
    width: 27%;
    height: 55px;
    margin-top: 30px;
    margin-right: 50px;
    border-radius: 10px;
    font-size: 18px;
    padding: 19px ;
    border: none;
    background-color: #b9fcd9;
    outline: none;
}
.icono__buscador{
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-top: 8px;
}
.contenedores__tareas{
  width: 70%;
  height: 406px;
  background-color: white;
  border: solid #b9fcd9;
  margin: 20px auto;
  border-radius: 10px;
}
.contenedores__tareas h2 {
  color: #064e3b;
  padding: 20px;
  margin-left: 17px;
}

.texto__tarea{
  color: #059669;
  margin-left: 38px;
  padding-bottom: 10px;
  margin-top: 14px;
  font-size: 18px;
}
.fecha{
  color: #059669;
  margin-left: 38px;
  padding-bottom: 10px;
  margin-top: 14px;
}
.contenedores__tareas h3{
  background-color: #ffe1ad87;
  width: 95px;
  height: 26px;
  text-align: center;
  border-radius: 5px;
  margin-left: 306px;
  margin-top: -45px;
  border: solid #fab33a 2px;
  color: #fab33a;
}
.contendor__asignaciones{
  width: 95%;
  height: 200px;
  background-color: #b9fcd96d;
  margin: 20px auto;
  border-radius: 10px;

}
.logo__texto{
  display: flex;
  gap: 20px;
}
.texto__asignaciones{
  margin-top: 20px;
  color: #059669;
  font-size: 18px;
}
.iconos__asignaciones{
  width: 35px;
  height: 35px;
  margin-left: 20px;
  margin-top: 10px;
}

.contenedor__usuario{
  display: flex;
  gap: 20px;

}
.tarjeta__usuario{
  width: 45%;
  height: 112px;
  background-color: white;
  margin: 20px auto;
  border-radius: 10px;
  
}
.cirulo__perfil{
  width: 40px;
  height: 40px;
  border-radius: 22px;
  background-color: #059668ce;
  margin-top: 14px;
  margin-left: 14px;
  position: relative;
}
.incial__perfil{
    color: white;
    position: absolute;
    left: 31%;
    bottom: 23%;
    font-size: 18px;
  }
  div{
    position: relative;
  }
  h4{
    position: absolute;
    color: #047857;
    left: 13%;
    top: 21px;
  }
  .texto__jornada{
    color: #059669;
    margin-left: 72px;
    margin-top: -10px;
  }
  .estado{
  background-color: #ffe1ad87;
  width: 95px;
  height: 26px;
  text-align: center;
  border-radius: 5px;
  margin-left: 18px;
  margin-top: 9px;
  border: solid #fab33a 2px;
  color: #fab33a;
  }