@import url(utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--fondo-main);
  padding-bottom: 50px; /* agrega aire al final de la página */
}

.titulo{
  font-size: 34px;
  color: var(--color-titulo-registro);
}
header {
  width: 96%;
  margin: 0 auto;
  margin-top: 53px;
  display: flex;
  height: 141px;
  border: 2px solid #10b98134; /* borde verde igual */
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(16, 185, 129, 0.3);
}
.contenedor__titulo {
display: flex;
width: auto;
gap: 20px;
margin-left: 64px;
margin-top: 50px;
}
.icono__devolver img{
  width: 50px;
  height: 50px;
  margin-top: 45px;
  margin-left: 38px;
}
.contenedor__logo{
  background:var(--background--caja-logo); 
  /* background-color: black; */
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
}
.logo {
  width: 70px;
  height: 70px;
}
.calendario {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(16, 185, 129, 0.3);
  margin: 20px auto;
  width: 90%;
}

.calendario h2 {
  margin-bottom: 15px;
  font-size: 28px;
  color: #333;
}

.mes {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columnas para los días */
  gap: 10px;
}

.dia {
  background-color: #bbf7d0;   /* color de las cajitas */
  border-radius: 6px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.numero {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.nota {
  resize: none;
  width: 100%;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  padding: 4px;
}
