@import url(utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/********************CONTNEDOR DEL LOGO CON EL TITULO*************************/
body{
  background: var(--fondo-main);
}

.titulo{
  font-size: 34px;
  color: var(--color-titulo-registro);
}

.contenedor__titulo {
  display: flex;
  width: auto;
  gap: 20px;
  margin-left: 85px;
  margin-top: 50px;
}
.contenedor__logo{
  background:var(--background--caja-logo);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
}
.logo {
  width: 70px;
  height: 70px;
}
header{
  width: 96%;
  margin: 0 auto;
  margin-top: 53px;
  display: flex;
  height: 141px;
  box-shadow: 0px 6px 10px rgba(16, 185, 129, 0.3);
}
.contenedor__ingreso{
  width: 53%;
  height: auto;
  background-color: var(--background-contenedores);
  box-shadow: var(--box-shadow-contenedores);
  border-radius: 10px;
  padding: 38px;
  margin: 57px auto;
}
.contendor__subtitulo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}
.caja__logo {
  background: var(--color-caja-logo-formularios-y-titulos);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.subtitulo {
  font-size: 26px;
  color: var(--color-subtitulo);
  margin: 0;
}
.logo {
  width: 70px;
  height: 70px;
}
.campo {
  border-radius: 8px;          /* esquinas redondeadas */
  padding: 15px;               /* espacio interno */
  margin-bottom: 15px;         /* separación entre campos */
  display: flex;
  flex-direction: column;      /* etiqueta arriba, input abajo */
}
.contenedor__fechas{
  display: flex;
  gap: 176px;
}
.form__producto input,
.form__producto select{
  width: 100%;
  padding: 12px 16px;
  border-radius: 10px;
  border: var(--color-borde-input-formulario);
  font-size: 16px;
  color: var(--color-texto-formulario);
  margin-top: 20px;
  outline: none;
}
label{
  font-size: 20px;
}
.contenedor__fechas {
  display: flex;
  gap: 20px;          /* usa un gap más razonable */
}

.input__fechas {
  flex: 1;            /* cada campo ocupa el mismo espacio */
}

.input__fechas input {
  width: 100%;        /* el input llena su contenedor */
}
button {
  display: block;
  margin: 31px auto;
  width: 250px;
  padding: 14px 20px;
  background: var(--background-contenedores);
  color: var(--color-texto-formulario);
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  box-shadow: var(--box-shadow-contenedores);
}