@import url(utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-areas:
    "header main"
    "sidebar main"
    "footer footer";
  grid-template-columns: 332px 1fr; 
  grid-template-rows: auto 1fr auto;
}

header {
  position: fixed;
  top: 0px;
  left: 0%;
  height: 130px;
  width: 332px;
  background-color:var(--background-header); 
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.sidebar__barra {
  position: fixed;
  top: 130px;
  left: 0;
  width: 332px;
  height: calc(100vh - 130px);
  background-color: var(--background-sidebar);
}

.main {
  margin-left: 332px; /* espacio para la sidebar */
  margin-top: 130px;  /* espacio para el header */
  padding: 20px;
  background: var(--background-main);
}


.sidebar__barra {
  position: fixed;
  top: 130px;
  left: 0;
  width: 332px;
  height: calc(100vh - 130px);
  background-color: var(--background-sidebar);
}

.titulo{
  font-size: 34px;
}

.contenedor__titulo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
 }
 
 .logo {
  padding:10px;
  width: 70px;
  height: 70px;
 }
 .titulo{
   color: var(--letra-titulo); 
 }
 /*----------------------------*/
.main {
  grid-area: main;
  padding: 20px;
  background: var(--background-main);
}
.contenedor__perfil{
  display: flex;
  justify-content: flex-end;
  margin-left: 100px;
}

/**********************************************************/
.sidebar__barra {
  position: fixed;
  top: 130px;
  left: 0%;
  width: 332px;      /* mismo ancho que definiste en el grid */
  height: 100vh; 
  background-color: var(--background-sidebar);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
}

.sidebar__barra a:first-child {
  background-color:var(--background-caja-inicio);
  color: var(--color-texto-inicio);
}

.sidebar__barra a {
  text-decoration: none;
  color:var(--color-letra-sidebar);
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.sidebar__barra a:hover{
  background-color: var(--hover-cajas-letra-sidebar);
}
.sidebar__barra nav {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  align-self: center;
  justify-content: center;
  margin-top: 39px;
}
/*************************************/
.footer {
  grid-area: footer;
  background-color: var(--background-footer);
  text-align: center;
  padding: 10px;
}