@import url(utils/global.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--fondo-main);
}

.titulo {
  font-size: 45px;
  color: var(--color-titulo-registro);
  margin-top: 4px;
}

.contenedor__titulo {
  display: flex;
  gap: 20px;
  margin-left: 85px;
  margin-top: 50px;
}
.contenedor__logo {
  background: var(--background--caja-logo);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
}
.logo {
  width: 70px;
  height: 70px;
}
header {
  width: 96%;
  margin: 0 auto;
  margin-top: 53px;
  display: flex;
  height: 141px;
  box-shadow: 0px 6px 10px rgba(16, 185, 129, 0.3);
}
.main_contenedor {
  width: 80%;
  min-height: 100vh;
  box-shadow: 0px 0px 10px 2px rgba(16, 185, 129, 0.404);
  padding: 50px;
  margin: 0 auto;
  margin-top: 98px;
  border-radius: 10px;
}
.contendor__informacion {
  width: 93%;
  background-color: #10b98134;
  margin: 0 auto;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 60px;
}
.caja_titulo {
  display: flex;
  gap: 20px;
  margin-left: 85px;
}

/* Cultivo y Fertilizantes */
.contenedor__registros {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
.fila__cultivo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 40px;
}
.dato__cultivo {
  width: 45%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(16, 185, 129, 0.3);
  font-size: 25px;
  color: #333;
}

/* Stock */
.contenedor__stock {
  min-height: 382px;
}
.fila__stock {
  display: flex;
  justify-content: space-between;
  margin: 55px 85px;
  background-color: white;
  padding: 20px;
}


.item__stock {
  font-size: 25px;
  color: #333;
}
.cantidad__stock {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}
.estado__producto{
  font-size: 22px;
  color: #10b981;
}

/* Admin y Trabajadores */
.contenedor__admin,
.contenedor__trab {
  min-height: 300px;
}
.logo__admin,
.logo__trab {
  height: 70px;
  width: 70px;
  margin-left: 121px;
  margin-top: 50px;
}
.info__admin{
    margin-top: -68px;
    font-size: 22px;
    margin-left: 214px;
    color: #333;
}

.fila__trab {
  display: flex;
  justify-content: space-around; /* separa los dos bloques */
  margin-top: 30px;
}

.bloque__trab {
  display: flex;
  align-items: center;
  gap: 15px; /* espacio entre imagen y texto */
  width: 45%; /* cada bloque ocupa casi la mitad */
  background-color: #fff; /* opcional, si quieres caja blanca */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(16, 185, 129, 0.3);
}
.info__trabajador {
  font-size: 18px;
  color: #333;
}

.titulo__trabajador {
  font-size: 22px;
  margin-bottom: 5px;
}