@import url(utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--fondo-main);

}

.titulo{
  font-size: 34px;
  color: var(--color-titulo-registro);
}

.contenedor__titulo {
  display: flex;
  width: auto;
  gap: 20px;
  margin-left: 85px;
  margin-top: 50px;
 }
.contenedor__logo{
  background:var(--background--caja-logo);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
}
 .logo {
  width: 70px;
  height: 70px;
 }
 .main{
  width: auto;
  height: 260vh;
  /* background-color: aquamarine; */
  justify-content: center;
 }
 .contendor{
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 260vh;
  padding: 0 86px;
  margin-top: 72px;
 }
 .contendor__cajas{
  background-color: var(--background-contenedores);
  box-shadow: var(--box-shadow-contenedores);
  height: 394px;
  border-radius: 10px;
 }
 .contendor__subtitulo{
  display: flex;
  margin-top: 10px;
 }
 .caja__logo{
  background:var(--background--caja-logo);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  border-radius: 10px;
  margin-left: 28px;
 }
 .subtitulo{
  font-size: 33px;
  color:var(--color-subtitulo);
  margin-left: 28px;
  margin-top: 42px;
 }
/*estilos formulario*/
.formulario__registrarcultivo{
    display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 28px;
  margin-top: 20px;
}
.nombre{
  font-size: 18px;
}

.ciclo{
  font-size: 18px;

}
.fecha__siembra{
  display: flex;
  gap: 10px;
}
.fecha__cosecha{
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-left:284px;
  margin-top: -31px;
  gap: 6px;
}

