@import url(utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-areas:
    "header main"
    "sidebar main"
    "footer footer";
  grid-template-columns: 332px 1fr; 
  grid-template-rows: auto 1fr auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 130px;
  width: 332px;
  background-color:var(--background-header); 
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  z-index: 1000;
}

.sidebar__barra {
  position: fixed;
  top: 130px;
  left: 0;
  width: 332px;
  height: calc(100vh - 130px);
  padding: 20px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  background-color: var(--background-sidebar);
}

.sidebar__barra {
  position: fixed;
  top: 130px;
  left: 0;
  width: 332px;
  height: calc(100vh - 130px);
  background-color: var(--background-sidebar);
}

.titulo{
  font-size: 34px;
}

.contenedor__titulo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
 }
 
 .logo {
  padding:10px;
  width: 70px;
  height: 70px;
 }
 .titulo{
   color: var(--letra-titulo); 
 }
 /*----------------------------*/
.main {
  grid-area: main;
  padding: 31px;
  background: var(--background-main);
}
.contenedor__perfil{
  display: flex;
  justify-content: flex-end;
  margin-left: 100px;
}

/**********************************************************/
.sidebar__barra {
  position: fixed;
  top: 130px;
  left: 0%;
  width: 332px;      /* mismo ancho que definiste en el grid */
  height: 100vh; 
  background-color: var(--background-sidebar);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
}

.sidebar__barra a:first-child {
  background-color:var(--background-caja-inicio);
  color: var(--color-texto-inicio);
}

.sidebar__barra a {
  text-decoration: none;
  color:var(--color-letra-sidebar);
  font-weight: bold;
  padding: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.sidebar__barra a:hover{
  background-color: var(--hover-cajas-letra-sidebar);
}
.sidebar__barra nav {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  align-self: center;
  justify-content: center;
  margin-top: 39px;
}
.main__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__cajatexto{
  flex: 1;
}

.main__titulo{
  font-weight: bold;
  font-size: 37px;
  justify-items: center;
  color: var(--color-titulo-admin);
}
.contenedor__perfil{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
  margin-right: 22px;
  
}
.main__texto{
  margin-top: 20px;
  font-size: 30px;
  color: var(--color-subtitulo-admin);
}

.nombre__usuario{
  color: var(--color-titulo-admin);

}
.descripcion__usuario{
  color: var(--color-subtitulo-admin);
  font-size: 18px;
}
.perfil__texto{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cirulo__perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-cirulo-perfil);
  width: 60px;
  height: 60px;
  border-radius: 39px;
}
.inicial__usuario{
  font-size: 35px;
  color: var(--color-inicial-usuario);
}
.cerra_sesion img{
  width: 50px;
  height: 50px;
}

.contendores{
  margin-top: 50px;
  width: 100%;
  height: 30vh;
}
.contador__tareas{
  width: 100%;
  margin: 20px auto;
  height: 256px;
  display: flex;
  justify-content: space-between;
}

.caja1,
.caja2,
.caja3,
.caja4{
  width: 370px;
  height: 256px;
  background-color: var(--background-contadores-tareas);
  border: solid 3px var( --color-borde-contadores-tareas);
  border-radius: 10px;
  box-shadow: 0 12px 10px -4px rgba(0,0,0,0.3);
}
.icono__tareas{
  width: 150px;
  height: 150px;
  margin-top: 37px;
  margin-left: 37px;
}
.numero__tarea{
  font-size: 100px;
  margin-top: -129px;
  margin-left: 191px;
  color: var(--color-numero-contador-tareas);
}
.total__tareas,
.tareas__pendientes,
.tareas__completadas,
.tareas__proceso{
  font-size: 24px;
  margin-left: 191px;
  color: var(--color-numero-contador-tareas);
}

.tarjetas__tareas{
  width: 96%;
  height: auto;
  margin:20px auto;
  margin-top: 40px;
}

.tarea{
  width: 90%;
  height: 200px;
  margin: 20px auto;
  border-radius: 10px;
}
.tarea.pendiente{
  border: solid var(  --color-borde-tarea-pendiente) 3px;
}
.tarea.completada{
  border: solid var(--color-borde-tarea-completa) 3px;
}
.tarea__proceso{
  border:solid var(--color-contador-en-proceso);
}
.contenedor__subtitulo{
  display: flex;
  width: 90%;
  margin: 20px auto;
  justify-content: flex-start;
  align-items: center;
}
.icono__reloj{
  width: 70px;
  height: 70px;
}

.subtitulo{
  font-size: 30px;
  color: var(--color-numero-contador-tareas);
  margin-left: 15px;
}
.nombre__tarea{
  font-size: 24px;
  margin-left: 20px;
  margin-top: 10px;
  color: var(--color-numero-contador-tareas);
}
.cajas__cultivos{
  display: flex;
  gap: 40px;
  margin-top: 30px;
  margin-left: 20px;
}

.nombre__cultivo, 
.fecha__cultivo, 
.jornada__cultivo { font-size: 20px; 
  padding: 8px 14px; /* espacio interno */ 
  border-radius: 12px; /* esquinas redondeadas */
}
.nombre__cultivo{
  color: var(--color-nombre-cultivo);
  background-color: var(--color-nombre-cultivo-caja);
}

.fecha__cultivo{
  color: var(--color-fecha-cultivo);
  background-color: var(--color-fecha-cultivo-caja);
}
.jornada__cultivo{
  color: var(--color-jornada-cultivo);
  background-color: var(--color-jornada-cultivo-caja);
}
.descripcion__cultivo{
  font-size: 23px;
  color: var(--color-texto-contenedor);
  margin-left: 20px;
  margin-top: 20px;
}






/*************************************/
.footer {
  grid-area: footer;
  background-color: var(--background-footer);
  text-align: center;
  padding: 10px;
}