@import url(utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/********************CONTNEDOR DEL LOGO CON EL TITULO*************************/
header{
    width: 96%;
    margin: 0 auto;
    margin-top: 53px;
    display: flex;
    height: 141px;
    box-shadow: 0px 6px 10px rgba(16, 185, 129, 0.3);
}
.boton{
    height: 75px;
    width: 180px;
    margin-top: -18px;
    margin-left: 33px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #059669;
    border: none;
    outline: none;
    color: white;
}
.boton:hover{
    background-color: #047857;
    cursor: pointer;

}
body{
  background: var(--fondo-main);
}

.titulo{
  font-size: 34px;
  color: var(--color-titulo-registro);
}

.contenedor__titulo {
  display: flex;
  width: auto;
  gap: 20px;
  margin-left: 85px;
  margin-top: 50px;
}
.contenedor__logo{
  background:var(--background--caja-logo);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
}
.logo {
  width: 70px;
  height: 70px;
}
.contenedor__tareas{
    width: 80%;
    height: 230px;
    margin: 71px auto;
    display: flex;
    justify-content: space-between;
}
.cajas__tareas{
    border: solid #b9fcd9;
    width: 30%;
    border-radius: 10px;
    display: flex;

}
.logo__total{
  width: 150px;
  height: 150px;
  margin-top: 37px;
  margin-left: 37px;
}
.cajas__tareas h2{
    margin-top: 71px;
    margin-left: 41px;
    color: #064e3b;
    font-size: 88px;
}
.cajas__tareas p{
    margin-top: 123px;
    margin-left: 22px;
    color: #064e3b;
    font-size: 24px;
}
.caja__segunda{
    border: solid #ffe1ad;
}
.caja__tercera{
    border:solid  #b9fcd9;
}
.buscardor__tareas{
    border: solid #b9fcd9;
    width: 50%;
    height: 121px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.contenedor__buscar{
    border: solid #b9fcd9;
    border-radius: 10px;
    width: 38%;
    height: 55px;
    margin-top: 30px;
    margin-left: 50px;
}
.select__tareas{
    width: 27%;
    height: 55px;
    margin-top: 30px;
    margin-right: 50px;
    border-radius: 10px;
    font-size: 18px;
    padding: 19px ;
    border: none;
    background-color: #b9fcd9;
    outline: none;
}