@import url(utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/********************CONTNEDOR DEL LOGO CON EL TITULO*************************/
body{
  background: var(--fondo-main);
}

.titulo{
  font-size: 34px;
  color: var(--color-titulo-registro);
}
header{
  position: fixed;
  top: 0px;
  left: 0%;
  height: 130px;
  width: 332px;
  background-color:var(--background-header); 
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
.contenedor__titulo {
  display: flex;
  width: auto;
  gap: 20px;
  margin-left: 85px;
  margin-top: 50px;
}
.contenedor__logo{
  background:var(--background--caja-logo);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
}
.logo {
  width: 70px;
  height: 70px;
}