@import url(../utils/global.css);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--fondo-main);
  padding-bottom: 50px; /* aire al final de la página */
}

/* Header con borde y sombra igual a Cultivos Registrados */
header {
  width: 96%;
  margin: 0 auto;
  margin-top: 53px;
  display: flex;
  height: 141px;
  border: 2px solid #10b98134; /* borde verde igual */
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(16, 185, 129, 0.3);
}

.contenedor__titulo {
display: flex;
width: auto;
gap: 20px;
margin-left: 64px;
margin-top: 50px;
}
.icono__devolver img{
  width: 50px;
  height: 50px;
  margin-top: 45px;
  margin-left: 38px;
}
.contenedor__logo {
  background: var(--background--caja-logo);
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  border-radius: 10px;
}
.logo {
  width: 70px;
  height: 70px;
}
.titulo {
  font-size: 34px;
  color: var(--color-titulo-registro);
  margin-top: 4px;
}
.contenedor__principal{
  width:85% ;
  height: 300px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.cajas__usuarios{
  width: 100%;
  margin: 0 auto;
  height: 300px;
  background-color:var(--background-tarjetas-usuarios);
  text-align: center;
  box-shadow: var(--sombra-tarjetas-usuarios);
}
.cajas__usuarios h2 {
  font-size: 26px;
  margin-top: 20px;
  color: var(--color-titulo-registro);
  margin-left: 20px;
}
.cajas__usuarios p {
  font-size: 20px;
  text-align: left; /* fuerza alineación a la izquierda */
  margin-left: 20px; /* opcional, para dar aire */
  margin-top: 20px;
}
.titulo__caja{
  display: flex;
  gap: 172px;
}
.iconos__usuarios{
  width: 20px;
  height: 20px;
  
}
.contenedor__icono{
  background-color: #e3ffed;
  width: 27px;
  height: 27px;
  margin-left: 50px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
